@*@model LambdaForums.Models.Post.PostIndexModel

<h1>Posts</h1>
<table class=" table table-hover" id="forumIndexTable">
    <tbody>

        @foreach (var post in Model.PostLists)
        {
        <tr>
            <td>
                <a asp-controller="Forum" asp-action="Post" asp-route-Id="@post.Id">
                    @post.Title
                </a>

            </td>
            <td>
                @post.Content
            </td>
            <td>
                @post.Created
            </td>
        </tr>

        }
    </tbody>
</table>*@


